:root {
  --BMR: #434443; /* baskın metin rengi */
  --bg-color: #2e2f42; /* başlık rengi ve tüm arka plan rankleri*/
  --logo-color: #4e5ae5; /* logo-web rengi*/
  --hover-focus-color: #404bbf;
  --surface: #fff;
  --button-bg-hover: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--BMR);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--surface);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--bg-color);
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--bg-color);
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--bg-color);
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section h2 {
  margin-bottom: 72px;
}

.section h3 {
  margin-bottom: 8px;
}

/* HEADER */
.main-nav{
  margin-left: 76px;
}

header {
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  padding: 24px 15px;
  border-bottom: 1px solid #e7e9fc;
  justify-content: flex-start;
}

.top-line {
  margin-right: 332px;
  gap: 40px;
  display: flex;
  list-style: none;
  padding: 0;
}

.links,
.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact{ 
  display: flex;
  gap: 40px;
}


.top-line,
.contact {
  display: flex;
  gap: 40px;
  list-style: none;
}

.top-line a,
.contact a {
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  padding: 12px 0;
}

.top-line a:hover,
.top-line a:focus,
.contact a:hover,
.contact a:focus {
  color: var(--hover-focus-color);
  outline: none;
}

/*Logo*/

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--bg-color);
  font-weight: 700;
}

.logo-web {
  color: var(--logo-color);
  font-weight: 700;
}



/*HERO*/

.hero {
  background-color: var(--bg-color);
  text-align: center;
}

.hero-title {
  color: var(--surface);
  display: block;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
  margin-bottom: 48px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  color: var(--surface);
  background-color: #4d5ae5;
  padding: 16px 32px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1;
}

.button:hover,
.button:focus {
  background-color: var(--button-bg-hover);
  color: var(--surface);
  outline: none;
}

/* FEATURES(section1) */

.features-all ul,
.features .features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.features .features-item {
  flex: 0 0 264px;
}

.features .features-title,
.features .features-text {
  text-align: left;
}

.features .features-title {
  margin-bottom: 8px;
}

.features .features-text {
  line-height: 1.5;
  max-width: 264px;
}

.features-all ul > li,
.features .features-list > li {
  flex: 0 0 264px;
  display: flex;
  flex-direction: column;
}

/*TEAM*/

.team {
  background-color: #f4f4fd;
}

.team-all ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team .card-body {
  padding: 16px;
}

.team img {
  width: 264px;
  height: 260px;
}
.person-name,
.role {
  color: inherit;
}

.person-name {
  margin-bottom: 8px;
}

.role {
  margin: 0;
}

/*Grid hesapları*/

.team ul > li {
  flex: 0 0 calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*PORTFOLİO*/

.portfolio-all ul,
.portfolio .portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio .portfolio-item {
  flex: 0 0 calc((100% - 48px) / 3);s
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-item img {
  width: 360px;
  height: 300px;
}
.portfolio-item-title,
.portfolio-item-text {
  color: inherit;
}

.portfolio-item-title{
  margin: 32px 0px 8px 16px;
}

.portfolio-item-text{
  margin-left: 16px;
}

/*FOOTER*/

.site-footer {
  background-color: var(--bg-color);
  padding: 100px 0;
}

.footer-all {
  display: block;
}

.logo-footer-web {
  color: var(--logo-color);
}

.logo-footer {
  color: #f4f4fd;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
  
}

.footer-text {
  color: #f4f4fd;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  max-width: 264px;
  font-weight: 400;
  letter-spacing: 2%;
}
